body {
  background-color: bisque;
}

.search-container {
  padding: 0 20px 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.search-header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  padding: 10px;
  font-size: 1em;
  width: 300px;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.search-bar select {
  padding: 10px;
  font-size: 1em;
  margin-left: 10px;
}

.movie-card {
  display: flex;
  justify-content: center;
}

.movie-lists {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.movie-lists li {
  list-style: none;
  max-width: 300px;
  width: 100%;
  text-align: center;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-lists li img {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
}

.movie-lists li strong {
  display: block;
  margin: 10px 0;
  font-size: 1.2em;
}

.movie-lists li .overview {
  font-size: 0.9em;
  color: #555;
  overflow-y: auto;
  height: 200px;
}

.movie-lists li .release-date {
  font-size: 0.8em;
  color: #888;
}

.modal-container {
  position: relative;
  display: flex;
  gap: 20px;
}

.modal-container button {
  position: fixed;
  right: 25px;
  top: 25px;
  background-color: #fff;
  border: 2px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  text-align: center;
}

.modal-container button:hover {
  width: 40px;
  height: 40px;
}

.modal-poster h2 {
  margin-top: 0;
  font-size: 20px;
}

.modal-detai {
  margin-top: 0;
}

.modal-detai h2 {
  margin-top: 0;
}

.modal-detail p {
  margin-top: 0;
}

.modal-detai span {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color:#800000;
  color: white;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination button:not(:disabled):hover {
  background-color:#a51d1d;
}

@media screen and (max-width: 768px) {
  .modal-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .movie-lists li {
    max-width: 100%;
  }
  .modal-poster h2 {
    text-align: center;
  }
  .modal-detai {
    margin-top: 0;
  }
  .modal-detai p {
    padding: 20px;
    border-radius: 20px;
    background-color: #888;
    color: #fff;
  }
}