* {
  box-sizing: border-box;
}
.popularity-detail {
  padding: 0 20px 20px;
}

.popularity-container {
  display: flex;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.popularity-container__img-and-text {
  display: flex;
  margin-bottom: 20px;
  text-align: left;
  column-gap: 20px;
}

.popularity-container__img-and-text img {
  max-width: 300px; /* 最大幅を設定 */
  max-height: 450px; /* 最大高さを設定 */
  object-fit: cover; /* アスペクト比を維持しつつ、画像をカバー */
}

.text-container {
  max-width: 600px;
}

.text-container h2 {
  margin: 0 0 20px;
}

.text-container p {
  margin: 1rem 0;
}

.text-container p span {
  font-weight: bold;
  font-size: 18px;
}

.goto-popularity, .goto-top {
  display: inline-block;
  background-color: #780000;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom :20px;
  width: 200px;
}

.goto-popularity a, .goto-top a {
  padding: 10px 20px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.goto-popularity:hover, .goto-top:hover {
  background-color: #8e0808; /* ホバー時の背景色 */
}

.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .popularity-container {
    flex-direction: column;
    align-items: center;
  }
  .popularity-container__img-and-text {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;
  }
  .text-container {
    max-width: 100%;
    width: 100%;
  }
  .text-container h2 {
    text-align: center;
  }
  .text-container p {
    padding: 20px;
    border-radius: 20px;
    background-color: #888;
    color: #fff;
  }
}